body {    
    background-color: #F0EFF2;
}

.card {
    margin: 100px auto 0 auto;
    width: 900px;
}

.title {
    padding-left: 20px;
    font-size: 30px;
    font-weight:bold;
    border-left: 8px solid #000;
    line-height: 1.2;
}