.date-navigation {
    margin-top: 50px;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.date-navigation__link {
    font-size:16px;
    font-weight: bold;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.date-navigation__link-icon {
    margin-right: 10px;
    width: 20px;
    height: 15px;
    opacity: 30%;
}

.date-navigation__link-icon--rotate {
    transform: rotate(180deg);
}

.date-navigation__current {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-navigation__current-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
