.detail-table {
    margin-top: 40px;
    background: #fff;
    border-radius: 10px;
    letter-spacing: 0.15em;
}

.detail-table__row {
    display: grid;
    grid-template-columns: 350px 100px 150px 100px 1fr;
    align-items: center;
    min-height: 80px;
    border-bottom: 2px solid #E1E1E1;
}

.detail-table__label {
    padding-left: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
}

.detail-table__value,
.detail-table__mark {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.detail-table__comment {
    grid-column: 2 / 5;
    font-size: 16px;
    font-weight: bold;
}

.detail-table__input {
    width: 100px;
    height: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px #E1E1E1;
    border-radius: 4px;
}

.detail-table__textarea {
    width: 100%;
    height: 72px;
    margin: 20px 0;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px #E1E1E1;
    border-radius: 4px;
}

.detail-table__action {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.detail-table__message {
    font-size:18px;
    font-weight: 800;
    color: #FF0000;
    opacity:  50%;
    letter-spacing: 0.15em;
}

.detail-table__button {
    width: 130px;
    height: 50px;
    font-size:22px;
    font-weight: bold;
    color: #FFFFFFFF;
    border-radius: 5px;
    background-color:#000000;
    letter-spacing: 0.15em;
}

.detail-table__approved-message {
    width: 130px;
    height: 50px;
    font-size:22px;
    font-weight: bold;
    color: #FFFFFFFF;
    border-radius: 5px;
    background-color:#696969;
    letter-spacing: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-table__error{
    padding-left: 20px;
    font-size:16px;
    color: #FF0000;
}